# -------------------------
# OS / Genel
# -------------------------
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*.orig
*.rej
*.tmp
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------------
# VS Code / Editörler
# -------------------------
.vscode/*
!.vscode/extensions.json   # İsterseniz ekipçe önerilen eklentileri takip edin
# !.vscode/settings.json   # Takıma göre açabilirsiniz (genelde local kalır)
# !.vscode/launch.json     # RN debug ayarı ekipçe paylaşılacaksa açın

# JetBrains / Android Studio
.idea
*.iml

# Vim / Diğer editör artıkları
*.swp
*.swo

# -------------------------
# Node.js / JS Ekosistemi
# -------------------------
node_modules/
.eslintcache
.cache/
.parcel-cache/
coverage/

# Web bundler çıktıları
dist/
out/
build/           # CRA / bazı tool’lar (Android/iOS build klasörleri ayrıca aşağıda var)
storybook-static/

# Framework özel
.next/
.nuxt/
.svelte-kit/
web-build/       # Expo web export

# -------------------------
# React Native / Metro / Expo
# -------------------------
.metro-cache/
.metro-health-check*
*.jsbundle

.expo/
.expo-shared/
expo-debug.log

# -------------------------
# Android / IntelliJ
# -------------------------
android/.gradle/
.gradle/
local.properties
.cxx/
build/
android/build/
android/app/build/
*.hprof

# Keystore & paketler
*.keystore
*.jks
!debug.keystore
*.apk
*.aab

# -------------------------
# iOS / Xcode
# -------------------------
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# CocoaPods
**/Pods/

# İmza / Sertifika
*.mobileprovision
*.cer
*.p12
*.p8
*.pem

# -------------------------
# Ruby / CocoaPods / Fastlane
# -------------------------
/vendor/bundle/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# -------------------------
# Env dosyaları
# -------------------------
.env
.env.*
!.env.example
!.env.sample

# -------------------------
# Diğer
# -------------------------
# Metro sağlık dosyası (RN)
.metro-health-check*

# Yarn (Berry) cache’leri
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
